<div class="container">
  <h3>Payment form</h3>

  <div class="row">
    <div class="form-group col">
      <label for="payee" class="form-label">Receiver Name </label>
      <input
        class="form-control"
        (input)="onNameChange($any($event.target).value)"
        id="payee"
        type="text"
        placeholder="John Doe"
        aria-label=""
      />
    </div>
    <div class="col">
      <label>Receiver Name</label>
      <p>{{ name | titlecase }}</p>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label for="date" class="form-label">Payment date</label>
      <input
        class="form-control"
        (input)="onDateChange($any($event.target).value)"
        id="date"
        type="text"
        placeholder="01-12-2012"
        aria-label=""
      />
    </div>
    <div class="col">
      <label>Payment date</label>
      <p>{{ date | date }}</p>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label for="currency" class="form-label">Payment amount</label>
      <input
        class="form-control"
        (input)="onCurrencyChange($any($event.target).value)"
        id="currency"
        type="text"
        placeholder="20"
        aria-label=""
      />
    </div>
    <div class="col">
      <label>Payment amount</label>
      <p>{{ currency | currency: "EUR" }}</p>
    </div>
  </div>
</div>
